:root {
  --secondsto-00001: 1.126285721s;
  --secondsto-0001: 11.26285721s;
  --secondsto-001: 112.6285721s;
  --secondsto-01: 1126.28593697s;
  --secondsto-1: 11262.85721s;
  --secondsto-10: 112628.5721s;
  --secondsto-100: 1126285.721s;
  --secondsto-1000: 11262857.21s;
  --secondsto-10000: 112628572.1s;
  --secondsto-100000: 1126285721s;
  --secondsto-1000000: 11262857213s;
  --secondsto-10000000: 112628593697s;
  --secondsto-100000000: 112628593696.85338s;
}
html, body {
  --size: 1.5rem;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Palatino, Helvetica, arial, sans-serif;
  overflow: hidden;
  background-color: rgb(40, 40, 40)
}

article {
  font-size: 5vmin;
}

article p {
  color: white;
  text-shadow: 
    0 -1px 1px #000, 1px -1px 1px #000, 1px 0 1px #000,
    1px 1px 1px #000, 0 1px 1px #000, -1px 1px 1px #000, 
    -1px 0 1px #000, -1px -1px 1px #000;
}

output {
  display: flex;
  justify-content: center;
}

output span {
  font-family: monospace, monospace;
  background: rgb(233, 233, 233);
  color: black;
  position: relative;
  z-index: 2;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  animation: show 0.125s linear 1;
  animation-fill-mode: forwards;
  font-size: var(--size);
  height: calc(var(--size) * 1.5);
  line-height: calc(var(--size) * 1.5);
  border-radius: 0.25rem;
  width: 0;
  margin: 0;
}

@keyframes show {
  100% { 
    width: var(--size); 
    margin: calc(var(--size) * 0.0625);
  }
}
span.u04 { animation-delay: 0.0000000000s; }
span.u03 { animation-delay: var(--secondsto-00001); }
span.u02 { animation-delay: var(--secondsto-0001); }
span.u01 { animation-delay: var(--secondsto-001); }
span.u0 { animation-delay: var(--secondsto-01); }
span.u1 { animation-delay: var(--secondsto-1) }
span.u2 { animation-delay: var(--secondsto-10); }
span.u3 { animation-delay: var(--secondsto-100); }
span.u4 { animation-delay: var(--secondsto-1000); }
span.u5 { animation-delay: var(--secondsto-10000); }
span.u6 { animation-delay: var(--secondsto-100000); }
span.u7 { animation-delay: var(--secondsto-1000000); }
span.u8 { animation-delay: var(--secondsto-10000000); }

output span.symbol {
  display: inline-block;
}

@keyframes animate {
  100% {
    transform: translateY(-100%);
  }
}

span.number::before {
  content: "0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9";
  animation: animate 10s steps(10, end) infinite;
  position: absolute;
  top: 0;
  left: 0;
}

span.u04::before { animation-duration: var(--secondsto-00001); }
span.u03::before { animation-duration: var(--secondsto-0001); }
span.u02::before { animation-duration: var(--secondsto-001); }
span.u01::before { animation-duration: var(--secondsto-01); }
span.u0::before { animation-duration: var(--secondsto-1);  }
span.u1::before { animation-duration: var(--secondsto-10);  }
span.u2::before { animation-duration: var(--secondsto-100);  }
span.u3::before { animation-duration: var(--secondsto-1000);  }
span.u4::before { animation-duration: var(--secondsto-10000);  }
span.u5::before { animation-duration: var(--secondsto-100000); }
span.u6::before { animation-duration: var(--secondsto-1000000);  }
span.u7::before { animation-duration: var(--secondsto-10000000); }
span.u8::before { animation-duration: var(--secondsto-100000000); }

@keyframes pop {
  100% { 
    transform: translate(0, -200%); 
  }
}

aside {
  top: 0;
  position: absolute;
  background: #fca;
  padding: 2vmin;
  font-size: 2.5vw;
  font-size: clamp(1rem, 2.5vw, 1.375rem);
  max-width: 25vw;
  max-width: clamp(100px, 25vw, 300px);
  border-radius: 1vmin;
  z-index: -1;
  animation: pop 20s linear;
  animation-fill-mode: forwards;
  box-shadow: 0 0 2vmin rgba(0,0,0,0.25);
  border: 1px solid rgba(0,0,0,0.125);
  line-height: 1.25;
  transform: translate(0, 100vh); 
}

aside.color0 { background: #ffadad; }
aside.color1 { background: #ffd6a5; }
aside.color2 { background: #fdffb6; }
aside.color3 { background: #caffbf; }
aside.color4 { background: #beeeef; }
aside.color5 { background: #a0c4ff; }
aside.color6 { background: #bdb2ff; }
aside.color7 { background: #ffc6ff; }

aside.time0 { animation-timing-function: linear; }
aside.time1 { animation-timing-function: ease; }
aside.time2 { animation-timing-function: ease-in; }
aside.time3 { animation-timing-function: ease-out; }
aside.time4 { animation-timing-function: ease-in-out; }

aside.top0 { z-index: 1; }
aside.top1 { z-index: 3; }

footer {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  font-size: 0.875rem;
}

@media all and (min-width:500px) {
  body {
    --size: 2.5rem;
  }
}

@media all and (min-width:750px) {
  body {
    --size: 3.5rem;
  }
}

@media all and (min-width:1000px) {
  body {
    --size: 4.5rem;
  }
}

@media all and (min-width:1200px) {
  body {
    --size: 5.5rem;
  }
}

.speedUp {
  padding: 8px;
}

.dark-mode {
  background-color: white;
  color: black;
} 

a:link, a:visited, a:active {
  color: violet;
}